<hr>
<h1>Formulario</h1>
<form #Miformulario="ngForm" (ngSubmit)="onRegistrer()"  >
<div>
    <label for="nombre">Nombre</label>
    <input type="text" [(ngModel)]="registro.nombre" name="nombre" id="nombre" required #name="ngModel"
    [ngClass]="{
        'invalido':name.invalid
    }"
    >
</div>
<div>
    <label for="email">Email</label>
    <input type="email" [(ngModel)]="registro.email" name="email" id="email" required #email="ngModel"
    [ngClass]="{
        'invalido':email.invalid
    }">
</div>
<div>
    <label for="password">Password</label>
    <input type="password" [(ngModel)]="registro.Password" name="password" id="password" required #password="ngModel"
    [ngClass]="{
        'invalido':password.invalid
    }">
</div>
<button  [disabled]="Miformulario.invalid"  type="submit" >Enviar</button>
<button type="button">Accion</button>
</form>




<hr>
<h1>[ngClass] - [NgStyle]</h1>
<input type="text"  [(ngModel)]="person.name" #persona03="ngModel" required>
<hr class="linea" [ngClass]="{
    'valid':persona03.valid,
    'invalid':persona03.invalid
}">

<div class="grid-division">
    <div>
       <input type="number" [(ngModel)]="forma.ancho">
       <input type="number" [(ngModel)]="forma.alto">
       <input type="color" [(ngModel)]="forma.color"> 
    </div>
    <div
    [ngStyle]="{
        'width.px':forma.ancho,
        'height.px':forma.alto,
        'background-color':forma.color
    }"
    ></div>
</div>




<hr>
<h1>class y style</h1>
<input type="text" [(ngModel)]="person.name" #persona03 = "ngModel" required >
<p class="mensaje-error" [class.valid]="persona03.invalid" >Esto es requerido</p>



<hr>
<h1> [ng Switch] </h1>
<input type="text" [(ngModel)]="person.name">
<div [ngSwitch]="person.name">
<p *ngSwitchCase="'camilo'" >Hola soy camilo</p>
<p *ngSwitchCase="'juan'" >Hola soy juan</p>
<p *ngSwitchCase="'daniel'" >Hola soy daniel</p>
<p *ngSwitchDefault>No hay match</p>
</div>


<hr>
<h1>*ngFor</h1>
<input type="text" [(ngModel)]="pers01" >
<button (click)="agregarPersona()" >Agregar Persona</button>
<ul>
    <li *ngIf="personas.length === 0" >No hay mas personas</li>
    <li *ngFor="let persona of personas; let i = index" >
        {{i+1}}  {{persona}}
        <button (click)="eliminar(i)">Eliminar</button>
    </li>
</ul>

<h1>*ngFor con Objetos</h1>
<div class="products--grid">
    <div *ngFor="let producto of products" >
        <img width="100" [src]="producto.imagen" alt="image">
        <h2>Precio: {{producto.precio}} </h2>
        <p>Descripcion: {{producto.descripcion}} </p>
        <p *ngIf="producto.sector">Sector:  {{producto.sector}} </p>
    </div>
</div>


<hr>
<h1>*NgIf</h1>
<input type="text" [(ngModel)]="person.name">
<p *ngIf="person.name ==='nicolas'">Soy Nicolas</p>
<p *ngIf="person.name ==='julian' && person.age==18;else propiedad" >Soy julian</p>
<ng-template #propiedad>
    <p>Este bloque es falso</p>
</ng-template>



<hr>
<h1>[(NgModel)]</h1>
<p>El nombre es {{person.name}} </p>
<input type="text" #inputName="ngModel" required [(ngModel)]="person.name" >
<p>Es valido :  {{inputName.valid}}  </p>
<p>La edad es: {{person.age}} </p>
<input type="number" max="18" min="10" #inputAge="ngModel" [(ngModel)]="person.age">
<p>Es valido: {{inputAge.valid}}</p>

<hr>
<h1>(Eventos)</h1>
<button [disabled]="habilitar">Enviar</button>
<button (click)="toogleButton()" >Toogle Button</button>
<p>La edad de la persona es: {{person.age}} </p>
<button (click)="agregarEdad()" >Edad++</button>
<div class="box" (scroll)="posicionScroll($event)">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae optio, maxime quod odio qui repellat, libero totam aliquam ab atque accusamus illo consequuntur ratione tenetur voluptatem. Voluptatem autem numquam impedit.</p>
</div>
<p>El nombre es: {{person.name}} </p>
<input type="text" (keyup)="copiar($event)">



<hr>
<h1>[Propiedades]</h1>
<button [disabled]="habilitar"  >Enviar</button>
<input type="text" [value]="person.name">
<progress max="100" [value]="person.age"></progress>
<img width="100" [src]="person.imagen" alt="persona">



<hr>
<h1>INTERPOLACION STRING</h1>
<h1>Hola mundo!</h1>
<h2> {{'Hola Mundo '.repeat(5)}} </h2>
<p> 3+3 ->{{ 3+3}} </p>
<p>Mi nombre es {{name}} y mi edad es {{age}} </p>
<img src="{{imagen}}" alt="persona">